@import url("bootstrap-extended.css");
@import url("colors.css");
@import url("components.css");

input.parsley-success,
select.parsley-success,
textarea.parsley-success {
    border-color: #8BC34A !important;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error,
.checkbox-custom.parsley-error > i {
    border-color: #FF0000 !important;
}

.parsley-errors-list {
    margin: 2px 0 3px;
    padding: 0;
    list-style-type: none;
    font-size: 12px;
    line-height: 0.9em;
    opacity: 0;
    color: #FF0000 !important;
    transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
}

.parsley-errors-list.filled {
    opacity: 1;
    padding: 5px 0 10px;
}